body {
    color: red;
    background: #fafad2;




}
img {
    height: 300px;
    width: 300px;





}               

hr {
    height: 2px;
    border: none;
    background-color: red;
}

ul {
    list-style-type: square;
}